.App {
  text-align: center;
}


.switch-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.switch-wrapper > div {
  position: absolute;
}

#basan-alert{
  margin-top: 5px;
  color: red;
  font-size: 13px;
}
